<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecorderDrawer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RecoredrDrawer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RecorderDrawer.Properties.Settings>
            <setting name="XType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YProp" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="Percentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DensityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReactorSizeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CostPerHour" serializeAs="String">
                <value>0</value>
            </setting>
        </RecorderDrawer.Properties.Settings>
        <RecoredrDrawer.Properties.Settings>
            <setting name="y1Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1Max" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="y1Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="y2Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y2Max" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="y2Interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="y3Min" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="y3Max" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="y3Interval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="y4Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y4Max" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="y4Interval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="y5Min" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="y5Max" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="y5Interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="xType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="xAngle" serializeAs="String">
                <value>0</value>
            </setting>
        </RecoredrDrawer.Properties.Settings>
    </userSettings>
</configuration>
